<html>
    <head>
        <title>Hanu's Blog</title>
    </head>
    <body>
            <div>
                <h1><a href="/https://djangogirls.org">Hanu Blog Post</a></h1>
            </div>
            <div>
                <p>published: 11.04.2018, 11.24</p>
                <h2><a href="/">My First Blog</a></h2>
                <p>This is a blog on the Universe</p>
            </div>
            
            <div>
                <p>published: 11.04.2018, 11.28</p>
                <h2><a href="">My Second Blog</a></h2>
                <p>This is a blog on Colours</p>
            </div>
            <div>
                <p>Hi there!</p>
                <p> The blog page</p>
            </div>
    </body>
</html>
